@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ResetPassword</h1>

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="ModelOnly"></div>
		<form asp-action="ResetPassword" method="post">
			<input class="text hamda" asp-for="NewPassword" name="password" placeholder="NewPassword" required="">
			<input class="text hamda" asp-for="ConfirmPassword" name="confirmpassword" placeholder="ConfirmPassword" required="">
			<input type="submit" value="SIGNUP">
		</form>
		<p>Do you have an Account? <a asp-action="SignIn"> Login Now!</a></p>
	</div>
</div>

@section ValidationScriptSections
{
	<partial name="_ValidationScriptsPartial" />
}